/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .letter-position-checkbox {
  display: inline-block;
  width: 3em;
  height: 3em;
}
.f2w-1 {
  background-color: red;
}
.f2w-2 {
  background-color: green;
}
.f2w-3 {
  background-color: yellow;
}
.f2w-4 {
  background-color: blue;
}
.f2w-5 {
  background-color: rgb(110, 50, 187);
}
.f2w-6 {
  background-color: #4a2500;
}